@import '../../styles/utils';

.empty-notice {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: rem(20);

  .notice-cotainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(8);
    font: var(--h1);
    color: var(--gray4);
  }
}
